@charset "utf-8";
/* CSS Document */

.img_usa_1{ width:100%; height:170px; text-align:center; background: url(../images/design-images/footer_usa_bg.jpg) top left repeat-x; padding:10px 0px 0px 0px; }
